<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center">
    <ul class="navbar-nav">
        <!-- 카테고리 고치기 -->
        
        <li class="nav-item"><a class="nav-link" href="#">Category 1</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Category 2</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Category 3</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Category 4</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Category 5</a></li>
    </ul>
</nav>

<br>