<nav class="navbar navbar-expand justify-content-center py-1 mt-1 mb-5" style="background-color: #EA5903;">
    <ul class="navbar-nav">
        <!-- 카테고리 고치기 -->
        {#{% for c in categories %}#}
        <!-- <li class="nav-item"><a class="nav-link" href="{#{% url 'shopwindow:category' c %}#}">{#{{c}}#}</a></li> -->
        {#{% endfor %}#}
    
        <li class="nav-item category"><a class="nav-link" href="/product/category/식품">식품</a></li>
        <li class="nav-item category"><a class="nav-link" href="/product/category/주방용품">주방용품</a></li>
        <li class="nav-item category"><a class="nav-link" href="/product/category/생활용품">생활용품</a></li>
        <li class="nav-item category"><a class="nav-link" href="/product/category/가전">가전</a></li>
        <li class="nav-item category"><a class="nav-link" href="/product/category/도서">도서</a></li>
    </ul>
</nav>

<style>
    nav ul li.category {
        font-size: large;     
        padding: 0px 15px
    }

    nav ul li.category a {
        color: white;
        font-weight: bold;
    }
</style>