<div class="py-5">
    <ul class="pagination my justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                <i class="fas fa-angle-double-left"></i>
            </a>
        </li>
        {% endif %}
            
        {% for page in page_obj.paginator.page_range %}
        {% if page == page_obj.number %}
        <li class="page-item active">          
        {% else %}
        <li class="page-item">  
        {% endif %}
            <a class="page-link" href="?page={{page}}">{{page}}</a>        
        </li>
        {% endfor %}


        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">
                <i class="fas fa-angle-double-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

<style>
    ul.pagination li a {
        color: #EA5903;
    }
    ul.pagination li a:hover {
        color: #EA5903;
    }
   
    .my.pagination > .active > a, 
    .my.pagination > .active > span, 
    .my.pagination > .active > a:hover, 
    .my.pagination > .active > span:hover, 
    .my.pagination > .active > a:focus, 
    .my.pagination > .active > span:focus {
    background: #EA5903;
    border-color: #EA5903;
    }
    
</style>