<style>
    .jumbotron {
        padding: 32px 16px;
        color: black;
        background-color: whitesmoke;
    }

    .searchbar {
        height: 40px;
        background-color: lightgrey;
        border-radius: 30px;
        padding: 10px;
    }

    .search_input {
        color: black;
        border: 0;
        outline: 0;
        background: none;
        caret-color: black;
        width: 300px;
    }

    .search_icon {
        height: 20px;
        width: 20px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        text-decoration: none;
    }

    h1 {
        text-align: center;
    }

    a {
        color: black;
        text-decoration:none;
    }

    a:hover {
        color: black;
        text-decoration:none;
    }

</style>

<div class="jumbotron mb-0">
    <a class="title" href="{% url 'shopwindow:index'%}"><h1>Shoppingmall</h1></a>
</div>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!-- 검색창 -->
    
    {% include "searchbar.html" %}

    <!-- 장바구니 / 마이페이지 / 로그인 아이콘 -->
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-bag"></i> 장바구니</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-user"></i> 마이페이지</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout'%}"><i class="fas fa-sign-out-alt"></i> 로그아웃</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login'%}"><i class="fas fa-sign-in-alt"></i> 로그인</a></li>
        {% endif %}   
    </ul>
</nav>