{% extends 'base_mypage.html' %}
{% load widget_tweaks %}

{% block title %}Edit Profile{% endblock %}
{% block content %}


<h3 class="h3 my-5 font-weight-normal" style="text-align: center"><i class="far fa-user"></i> 개인정보 변경 </h3>


<br/><br/>
<div class="form-group">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br/>
    <div>
        <a class="btn btn-dark btn-block offset-sm-4 col-sm-4" href="{% url 'accounts:password_change'%}">
        <i class="fas fa-exchange-alt"></i> 비밀번호 변경</a>
    <button class="btn btn-dark btn-block offset-sm-4 col-sm-4"> 개인정보 변경 완료</button>
    </div>
    




</form>


</div>



{% endblock %}