{% extends 'base_category.html' %}
{% block title %}Logout{% endblock %}

{% block content %}
<h3 class="h3 mb-3 font-weight-normal" style="text-align: center"><i class="fas fa-sign-out-alt"></i> 로그아웃</h3>
<div class="form-group">
    <div class="offset-sm-3 col-sm-6">
        <div class="alert" style="text-align: center;">You have been successfully logged out.</div>
        <a class="btn btn-dark btn-block" href="{% url 'accounts:login'%}"><i class="fas fa-sign-in-alt"></i> 로그인</a>
    </div>
</div>
{% endblock %}
