{% extends 'base_mypage.html' %}
{% load widget_tweaks %}

{% block title %}Password Change{% endblock %}
{% block content %}


<h3 class="h3 my-5 font-weight-normal" style="text-align: center"><i class="fas fa-user-plus"></i> 비밀번호 변경 </h3>
<br /><br />

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    </br>

        <button class="btn btn-dark btn-block"> 비밀번호 변경완료 </button>

    <br/><br/>
        <ul>
            <li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
            <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
            <li>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
            <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
        </ul>


    </form>
</div>

{% endblock %}