{% extends "base_mypage.html" %}
{% block title %}product{% endblock %}
{% block content %}

<h3 class="h3 my-5 font-weight-normal" style="text-align: center"><i class="far fa-window-close"></i> 주문취소</h3>
{% if object_list %}
<div class="mb-5" style="text-align: center;">{{ user }}의 주문취소내역 입니다</div>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th style="width: 15%;">취소 목록</th>
            <th style="width: 50%;"></th>
            <th style="width: 15%;">주문금액</th>
            <th style="width: 15%;">수량</th>
        </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr>
            <td style="text-align: center;">
                {{order.modify_dt|date:"Y-m-d"}}<br>
                {{order.modify_dt|date:"H:i"}}
            </td>
            <td>
                <a href="{% url 'shopwindow:detail' order.product.id %}">
                    <img width="30%" src="{{order.product.image.thumb_url}}" alt="상품사진">
                    {{order.product.name}}
                </a>
            </td>
            <td>{{order.price}}</td>
            <td>{{order.quantity}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="mb-5" style="text-align: center;">{{ user }}의 주문취소내역이 존재하지 않습니다!</div>
{% endif %}

<br>
{% include "pagination.html" %}
<!-- 

<img src="/media/photo/user_상품 1/image.thumb.jpg" style="width: 100%;">

-->

{% endblock %}