<table class="table table-hover table-sm my-5 offset-sm-3 col-sm-6">
    <thead>
        <tr>
            <td style="text-align: right;">
                작성자: {{review.owner}}
                작성일: {{review.create_dt|date:"Y-m-d"}}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align:left">
                {{review.title}}
            </th>
        </tr>
        <tr>
            <td style="text-align:left">
                {{review.content | safe}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                {% if user == review.owner %}
                <a href="{%url 'shopwindow:review_update' review.id %}">
                    <i class="far fa-edit"></i> 수정</a>
                <a href="{%url 'shopwindow:review_delete' review.id %}" class="text-danger">
                    <i class="fas fa-trash"></i> 삭제</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>