<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>




<div class="container">

    <div class="row">
        {% for product in object_list %}
            {% include "product_card.html" %}


        {% endfor %}
    </div>


</div>
<!-- 

<img src="/media/photo/user_상품 1/image.thumb.jpg" style="width: 100%;">

-->


</html>