{% extends "base_category.html" %}
{% block title %}product{% endblock %}
{% block content %}
{% load humanize %}
<body onload="init();">
    <script language="JavaScript">
        
        var sell_price;
        var user_select_quantity;
        
        function init () {
            sell_price = document.form.sell_price.value;
            user_select_quantity = document.form.user_select_quantity.value;
            document.form.sum.value = sell_price;
            change();
        }
        
        function add () {
            hm = document.form.user_select_quantity;
            sum = document.form.sum;
            hm.value ++ ;
        
            sum.value = parseInt(hm.value) * sell_price;
        }
        
        function del () {
            hm = document.form.user_select_quantity;
            sum = document.form.sum;
                if (hm.value > 1) {
                    hm.value -- ;
                    sum.value = parseInt(hm.value) * sell_price;
                }
        }
        
        function change () {
            hm = document.form.user_select_quantity;
            sum = document.form.sum;
        
                if (hm.value < 0) {
                    hm.value = 0;
                }
            sum.value = parseInt(hm.value) * sell_price;
        }  
        
    </script>
{# 상품 정보 #}
<div class="container p-3 my-3 border">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <h3>{{ object.name }}</h3>
            <img src="{{ product.image.url }}" alt="product_img" width="50%">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            {% if user.is_superuser %}
            <div class="text-right">
                <a href="{% url 'mypage:update' product.id %}" class="mr-3">
                <i class="far fa-edit"></i> 수정</a>
                <a href="{% url 'mypage:delete' product.id %}" class="text-danger mr-3">
                <i class="fas fa-trash"></i> 삭제</a>
            </div>
            {% endif %}
               
            <table>
                <tbody>
                    <tr>
                        <th style="width: 35%;">상품정보 요약</th>
                        <td> {{ object.description }}</td>
                    </tr>
                    <tr style="color:CornflowerBlue">
                        <th>판매가</th>
                        <td> {{ object.price |intcomma }} 원</td>
                    </tr>
                    <tr>
                        <th>배송방법</th>
                        <td> 택배</td>
                    </tr>
                    <tr>
                        <th>배송비</th>
                        <td>
                            <strong>2,500원</strong>
                            (30,000원 이상 구매시 무료)
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>


{# 상품 수량과 금액 #}
{# 구매 버튼 #}
<div class="container p-3 my-3">
    <form action="{% url 'order:pre_order' %}" method="post" name="form">
        {% csrf_token %}

        {% if object.quantity > 0 %}
        <table align="right">
            <tbody class="product_option">
                <tr class="total_quantity">
                    <th>총 수량</th>
                    <td style="text-align: right;">
                    <input type=hidden name="sell_price" value="{{object.price}}">
                        <input type="button" value=" - " onclick="del();">
                        <input type="text" name="user_select_quantity" value="1" size="1" onchange="change();">
                        <input type="button" value=" + " onclick="add();">
                    </td>
                </tr>
                <tr>
                    <th>총 상품금액</th>
                    <td style="text-align: right;">
                        <input type="text" name="sum" size="9" readonly> 원</td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="product_id" value={{object.id}}>
        <input class="btn btn-dark btn-block" type="submit" value="바로 구매하기">
        {% else %}
        <table align="right">
            <tbody class="product_option">
                <tr class="total_quantity">
                    <th>SOLD OUT</th>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </form>
    <div class="btn-group btn-block">
        <a href="{% url 'cart:plus_cart' product.pk %}" type="submit" class="btn btn-outline-dark" value="add_cart">장바구니</a>
        <a href="{% url 'cart:add_wish' product.pk %}" type="submit" class="btn btn-outline-dark" value="add_wish">관심상품</a>
    </div>
</div>
<br />


{# 게시판 #}
<div class="container p-3 my-3" style="text-align:center">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#상세보기">상세보기</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#후기">상품후기</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#qna">Q&A</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="상세보기" class="container tab-pane active"><br>
        </div>

        <!-- 후기 -->
        <div id="후기" class="container tab-pane fade"><br>
            {% if user.is_active %}
            <div class="text-right mr-3">
                <a href="{%url 'shopwindow:review_add' %}" class="btn btn-dark btn-sm">
                    <i class="fas fa-pencil-alt"></i> 작성</a>
            </div>
            {% endif %}

            {% if reviews %}
                {% for review in reviews %}
                    {% if review.product.id == object.id %}
                        {% include "review_table.html" %}
                    {% endif %}
                {% endfor %}
            {% else %}
            <div style="text-align: center;">
                후기가 없습니다.
            </div>
            {% endif %}

            {% include "pagination.html" %}
        </div>

        <!-- Q&A / 자기 질문만 보기 -->
        <div id="qna" class="container tab-pane fade"><br>
            {% if user.is_active %}
            <div class="text-right mr-3">
                <a href="{%url 'shopwindow:question_add' %}" class="btn btn-dark btn-sm">
                    <i class="fas fa-pencil-alt"></i> 질문하기</a>
            </div>
            {% endif %}

            {% if questions %}
                {% for question in questions %}
                    {% if user == question.owner or user.is_superuser %}
                        {% if question.product.id == object.id %}
                        {% include "question_table.html" %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% include "pagination.html" %}
            <br><br><br><br><br><br><br>
        </div>
    </div>
</div>
</div>
</body>
{% endblock %}