{% extends "base_category.html" %}
{% load static %}
{% block title %}cart.html{% endblock %}
{% block content %}
<h3 class="h3 m-5 font-weight-normal" style="text-align: center"><i class="fas fa-shopping-bag"></i> 장바구니</h3>
{% load mathfilters %}
{% if not cart_items %}
<p class="mt-5" style="text-align: center;">장바구니에 담긴 상품이 없습니다.</p>
{% else %}

<table class="table table-hover table-sm m-0">
    <thead class="thead-light">
        <tr>
            <th style="width: 5%;">목록</th>
            <th></th>
            <th style="width: 20%;">주문금액</th>
            <th style="width: 20%;">수량</th>
            <th style="width: 5%;"></th>
        </tr>
    </thead>
    <tbody>
        {% for cart_item in cart_items %}
        <tr>
            <td>
                <div class="checkbox">
                    <input type="checkbox" checked id="check"/>
                </div>
            </td>
            <td>
                <a href="{% url 'shopwindow:detail' cart_item.product_id %}">
                    <img width="30%" alt="상품사진"
                        src="{{cart_item.product.image.thumb_url}}">
                    {{ cart_item }}
                </a>
            </td>
            <td>
                <p>{{ cart_item.quantity }} x {{ cart_item.product.price }}</p>
                <p>{{ cart_item.quantity |mul:cart_item.product.price }}</p></td>
            <td>
                <div class="btn-group">
                    <a href="{% url 'cart:minus_cart' cart_item.product.pk %}">
                        <i class="fas fa-minus-circle"></i></a>
                    <p style="text-align:center; width:30px;">{{ cart_item.quantity }}</p>
                    <a href="{% url 'cart:plus_cart' cart_item.product.pk %}">
                        <i class="fas fa-plus-circle"></i></a>
                </div>
            </td>
            <td><a href="{% url 'cart:remove_cart' cart_item.product.pk %}"><i class="fas fa-times"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endif %}

<hr class="mb-5">

<table class="table table-hover table-sm mb-5">
    <thead class="thead-light">
        <tr>
            <h4>총 결제 예상금액</h4>
        </tr>
        <tr>
            <th style="width: 20%;">총 수량</th>
            <th style="width: 25%;">총 상품 금액</th>
            <th style="width: 25%;">총 배송비</th>
            <th style="width: 30%;">총 결제 예상금액</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{counter}} 개</td>
            <td>{{total}} 원</td>
            {% if total > 30000 %}
            <td>무료</td>
            <td>{{total}} 원</td>
            {% elif total == 0 %}
            <td>0 원</td>
            <td>{{total}} 원</td>
            {% else %}
            <td>2,500원</td>
            <td>{{total|add:2500}} 원</td>
            {% endif %}
            
        </tr>
    </tbody>
</table>
<div class="offset-sm-4 col-sm-4 mb-5">
    <form action="{% url 'order:pre_order' %}" method="post">
        {% csrf_token %}
        {% for cart_item in cart_items %}
        <input type="hidden" name="product_id" value={{cart_item.product.pk}}>
        <input type="hidden" name="user_select_quantity" value={{cart_item.quantity}}>
        {% endfor %}
        <input class="btn btn-dark btn-block" type="submit" value="주문하기">
    </form>
</div>
</div>


{% endblock %}