<tr>
    <td>
        <div class="checkbox">
            <input type="checkbox" checked id="check"/>
        </div>
    </td>
    <td>
        <a href="{% url 'shopwindow:detail' cart_item.product_id %}">
            <img width="30%" alt="상품사진"
                src="{{cart_item.product.image.thumb_url}}">
            {{ cart_item }}
        </a>
    </td>
    <td>{{ cart_item.sub_total }}</td>
    <td>
        <div class="btn-group">
            <button type ="button" style="width:30px;">+</button>
            <input type="text" name="pop_out" value="{{ cart_item.quantity }}" readonly="readonly" style="text-align:center; width:30px;"/>
            <button type="button" style="width:30px;">-</button>
        </div>
    </td>
    <td><a href="{% url 'cart:delete' cart_item.id %}"><i class="fas fa-times"></i></a></td>
</tr>